In [1]:
import pandas as pd

data=pd.read_csv('cleaned_data.csv')

pd.options.display.max_columns = None
pd.options.display.max_columns = None
data

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id
0,Starboy,The Weeknd,1,25286465,2016-12-23,2016-12-30,pop,1,5aAx2yezTd8zXrkmtKl66Z
1,Starboy,The Weeknd,1,25734078,2016-12-30,2017-01-06,pop,1,5aAx2yezTd8zXrkmtKl66Z
2,Starboy,The Weeknd,3,24261229,2017-01-06,2017-01-13,pop,1,5aAx2yezTd8zXrkmtKl66Z
3,Starboy,The Weeknd,4,24480907,2017-01-13,2017-01-20,pop,1,5aAx2yezTd8zXrkmtKl66Z
4,Starboy,The Weeknd,5,22925769,2017-01-20,2017-01-27,pop,1,5aAx2yezTd8zXrkmtKl66Z
...,...,...,...,...,...,...,...,...,...
60255,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf
60256,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf
60258,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf
60259,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf

In [2]:
data.sort_values(['end_week'], ascending= False)

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id
60259,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf
43003,HIGHEST IN THE ROOM,Travis Scott,112,6641114,2021-01-15,2021-01-22,latin,87,3eekarcy7kvN4yt5ZFzltW
43005,HIGHEST IN THE ROOM,Travis Scott,112,6641114,2021-01-15,2021-01-22,r&b,87,3eekarcy7kvN4yt5ZFzltW
43006,HIGHEST IN THE ROOM,Travis Scott,112,6641114,2021-01-15,2021-01-22,edm,87,3eekarcy7kvN4yt5ZFzltW
31310,7 rings,Ariana Grande,131,6113405,2021-01-15,2021-01-22,pop,86,6ocbgoVGwYJhOv1GgI9NsF
...,...,...,...,...,...,...,...,...,...
3870,Neighbors,J. Cole,120,4005289,2016-12-23,2016-12-30,r&b,73,0utlOiJy2weVl9WTkcEWHy
3859,DUELE EL CORAZON (feat. Wisin),Enrique Iglesias,118,4053683,2016-12-23,2016-12-30,latin,71,6YZdkObH88npeKrrkb8Ggf
3818,This Girl (Kungs Vs. Cookin' On 3 Burners),Kungs,116,4060819,2016-12-23,2016-12-30,latin,1,0tICYNayWWhH9GPeFrfjfD
3817,This Girl (Kungs Vs. Cookin' On 3 Burners),Kungs,116,4060819,2016-12-23,2016-12-30,pop,1,0tICYNayWWhH9GPeFrfjfD
0,Starboy,The Weeknd,1,25286465,2016-12-23,2016-12-30,pop,1,5aAx2yezTd8zXrkmtKl66Z

In [3]:
data['factor']=1/data['Position']

data

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
0,Starboy,The Weeknd,1,25286465,2016-12-23,2016-12-30,pop,1,5aAx2yezTd8zXrkmtKl66Z,1.000000
1,Starboy,The Weeknd,1,25734078,2016-12-30,2017-01-06,pop,1,5aAx2yezTd8zXrkmtKl66Z,1.000000
2,Starboy,The Weeknd,3,24261229,2017-01-06,2017-01-13,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.333333
3,Starboy,The Weeknd,4,24480907,2017-01-13,2017-01-20,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.250000
4,Starboy,The Weeknd,5,22925769,2017-01-20,2017-01-27,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.200000
...,...,...,...,...,...,...,...,...,...,...
60255,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005525
60256,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005525
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618
60258,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618
60259,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618

In [4]:
data.drop_duplicates(inplace= True)

data

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
0,Starboy,The Weeknd,1,25286465,2016-12-23,2016-12-30,pop,1,5aAx2yezTd8zXrkmtKl66Z,1.000000
1,Starboy,The Weeknd,1,25734078,2016-12-30,2017-01-06,pop,1,5aAx2yezTd8zXrkmtKl66Z,1.000000
2,Starboy,The Weeknd,3,24261229,2017-01-06,2017-01-13,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.333333
3,Starboy,The Weeknd,4,24480907,2017-01-13,2017-01-20,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.250000
4,Starboy,The Weeknd,5,22925769,2017-01-20,2017-01-27,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.200000
...,...,...,...,...,...,...,...,...,...,...
60249,Yellow,Coldplay,161,5394718,2021-01-08,2021-01-15,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006211
60250,Yellow,Coldplay,164,5393813,2021-01-15,2021-01-22,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006098
60251,Smells Like Teen Spirit,Nirvana,180,4639948,2021-01-01,2021-01-08,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005556
60254,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005525
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618

In [5]:
today=data[data['end_week']=='2021-01-22']

today

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
1572,Say You Won't Let Go,James Arthur,120,6488555,2021-01-15,2021-01-22,pop,86,5uCax9HTNlzGybIStD3vDh,0.008333
5729,goosebumps,Travis Scott,83,7454298,2021-01-15,2021-01-22,rap,87,6gBFPUFcJLzWGx4lenP6h2,0.012048
5731,goosebumps,Travis Scott,83,7454298,2021-01-15,2021-01-22,r&b,87,6gBFPUFcJLzWGx4lenP6h2,0.012048
6463,Shape of You,Ed Sheeran,150,5631323,2021-01-15,2021-01-22,pop,86,7qiZfU4dY1lWllzX7mPBI3,0.006667
6465,Shape of You,Ed Sheeran,150,5631323,2021-01-15,2021-01-22,edm,86,7qiZfU4dY1lWllzX7mPBI3,0.006667
...,...,...,...,...,...,...,...,...,...,...
60213,Dreams - 2004 Remaster,Fleetwood Mac,104,6837493,2021-01-15,2021-01-22,rock,85,0ofHAoxe9vBkTCp2UQIavz,0.009615
60231,Sofia,Clairo,128,6143666,2021-01-15,2021-01-22,pop,85,7B3z0ySL9Rr0XvZEAjWZzM,0.007812
60245,Goosebumps,HVME,51,9818220,2021-01-15,2021-01-22,edm,89,20McUFi8KCIVdNDLrkTDuZ,0.019608
60250,Yellow,Coldplay,164,5393813,2021-01-15,2021-01-22,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006098
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618

In [6]:
today.drop_duplicates(inplace= True)

today

<ipython-input-6-7a5b93ea6779>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  today.drop_duplicates(inplace= True)

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
1572,Say You Won't Let Go,James Arthur,120,6488555,2021-01-15,2021-01-22,pop,86,5uCax9HTNlzGybIStD3vDh,0.008333
5729,goosebumps,Travis Scott,83,7454298,2021-01-15,2021-01-22,rap,87,6gBFPUFcJLzWGx4lenP6h2,0.012048
5731,goosebumps,Travis Scott,83,7454298,2021-01-15,2021-01-22,r&b,87,6gBFPUFcJLzWGx4lenP6h2,0.012048
6463,Shape of You,Ed Sheeran,150,5631323,2021-01-15,2021-01-22,pop,86,7qiZfU4dY1lWllzX7mPBI3,0.006667
6465,Shape of You,Ed Sheeran,150,5631323,2021-01-15,2021-01-22,edm,86,7qiZfU4dY1lWllzX7mPBI3,0.006667
...,...,...,...,...,...,...,...,...,...,...
60213,Dreams - 2004 Remaster,Fleetwood Mac,104,6837493,2021-01-15,2021-01-22,rock,85,0ofHAoxe9vBkTCp2UQIavz,0.009615
60231,Sofia,Clairo,128,6143666,2021-01-15,2021-01-22,pop,85,7B3z0ySL9Rr0XvZEAjWZzM,0.007812
60245,Goosebumps,HVME,51,9818220,2021-01-15,2021-01-22,edm,89,20McUFi8KCIVdNDLrkTDuZ,0.019608
60250,Yellow,Coldplay,164,5393813,2021-01-15,2021-01-22,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006098
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618

In [7]:
week=today.groupby(['genre'], as_index= False)['factor'].sum()

week.sort_values(['factor'], ascending= False, inplace=True, ignore_index=True)

week

   genre    factor
0    pop  0.957136
1  latin  0.829051
2    r&b  0.734791
3    edm  0.699518
4    rap  0.486248
5   rock  0.442054

In [8]:
lastmonths=data[data['end_week']>'2020-08-28']

In [9]:
months=lastmonths.groupby(['genre'], as_index= False)['Streams'].sum()

months.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

months

   genre      Streams
0  latin  10392543781
1    pop   9571134637
2    r&b   7577943365
3    edm   6616104500
4    rap   5536844952
5   rock   2013689487

In [10]:
d2020=data[data['end_week']>'2020-01-03']
d2020=d2020[d2020['end_week']<'2021-01-01']

d2020

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
925,Closer,The Chainsmokers,174,4884880,2020-01-03,2020-01-10,pop,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005747
927,Closer,The Chainsmokers,174,4884880,2020-01-03,2020-01-10,rap,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005747
928,Closer,The Chainsmokers,174,4884880,2020-01-03,2020-01-10,latin,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005747
930,Closer,The Chainsmokers,174,4884880,2020-01-03,2020-01-10,edm,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005747
931,Closer,The Chainsmokers,192,4906807,2020-01-10,2020-01-17,pop,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005208
...,...,...,...,...,...,...,...,...,...,...
60239,Goosebumps,HVME,139,6639121,2020-12-04,2020-12-11,edm,89,20McUFi8KCIVdNDLrkTDuZ,0.007194
60240,Goosebumps,HVME,127,7651354,2020-12-11,2020-12-18,edm,89,20McUFi8KCIVdNDLrkTDuZ,0.007874
60241,Goosebumps,HVME,109,8472678,2020-12-18,2020-12-25,edm,89,20McUFi8KCIVdNDLrkTDuZ,0.009174
60246,Yellow,Coldplay,183,4902922,2020-11-13,2020-11-20,rock,85,3AJwUDP919kvQ9QcozQPxg,0.005464
60247,Yellow,Coldplay,191,4933146,2020-11-20,2020-11-27,rock,85,3AJwUDP919kvQ9QcozQPxg,0.005236

In [11]:
genr2020=d2020.groupby(['genre'], as_index= False)['Streams'].sum()

genr2020.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

genr2020

   genre      Streams
0    pop  41059914929
1  latin  38090873660
2    r&b  30709514286
3    edm  27434779788
4    rap  21384715530
5   rock   5104692400

In [12]:
d2019=data[data['end_week']>'2018-12-28']
d2019=d2019[d2019['end_week']<'2020-01-03']

d2019

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
679,Closer,The Chainsmokers,126,5270523,2018-12-28,2019-01-04,pop,85,7BKLCZ1jbUBVqRi2FVlTVw,0.007937
681,Closer,The Chainsmokers,126,5270523,2018-12-28,2019-01-04,rap,85,7BKLCZ1jbUBVqRi2FVlTVw,0.007937
682,Closer,The Chainsmokers,126,5270523,2018-12-28,2019-01-04,latin,85,7BKLCZ1jbUBVqRi2FVlTVw,0.007937
684,Closer,The Chainsmokers,126,5270523,2018-12-28,2019-01-04,edm,85,7BKLCZ1jbUBVqRi2FVlTVw,0.007937
685,Closer,The Chainsmokers,146,4990860,2019-01-04,2019-01-11,pop,85,7BKLCZ1jbUBVqRi2FVlTVw,0.006849
...,...,...,...,...,...,...,...,...,...,...
47600,Roses - Imanbek Remix,SAINt JHN,133,6917501,2019-12-20,2019-12-27,latin,88,24Yi9hE78yPEbZ4kxyoXAI,0.007519
47601,Roses - Imanbek Remix,SAINt JHN,133,6917501,2019-12-20,2019-12-27,r&b,88,24Yi9hE78yPEbZ4kxyoXAI,0.007519
47603,Roses - Imanbek Remix,SAINt JHN,133,6917501,2019-12-20,2019-12-27,edm,88,24Yi9hE78yPEbZ4kxyoXAI,0.007519
47915,Sigues Con El,DÃ­melo Flow,104,8233395,2019-12-20,2019-12-27,latin,79,7sQKy5vlPQllr0k9IjYJv3,0.009615
47977,Suicidal,YNW Melly,114,7700832,2019-12-20,2019-12-27,r&b,79,1iSqfoUFnQwV0QW1EfUit8,0.008772

In [13]:
genr2019=d2019.groupby(['genre'], as_index= False)['Streams'].sum()

genr2019.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

genr2019

   genre      Streams
0    pop  41830993759
1  latin  20997201788
2    edm  20966853792
3    r&b  19236799154
4    rap  13618912216
5   rock   4384153106

In [14]:
d2018=data[data['end_week']>'2018-01-02']
d2018=d2018[d2018['end_week']<'2018-12-28']

d2018

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
51,Starboy,The Weeknd,125,4707366,2017-12-29,2018-01-05,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.008000
52,Starboy,The Weeknd,146,4350619,2018-01-05,2018-01-12,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.006849
53,Starboy,The Weeknd,161,4302372,2018-01-12,2018-01-19,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.006211
54,Starboy,The Weeknd,170,4253988,2018-01-19,2018-01-26,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.005882
55,Starboy,The Weeknd,180,4259930,2018-01-26,2018-02-02,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.005556
...,...,...,...,...,...,...,...,...,...,...
28826,Amanece,Anuel AA,141,5912915,2018-12-14,2018-12-21,latin,72,1LiN0Z98FkR1t0m8KmLcAH,0.007092
28855,This Feeling,The Chainsmokers,151,5637349,2018-12-14,2018-12-21,edm,76,4NBTZtAt1F13VvlSKe6KTl,0.006623
28877,Hope,The Chainsmokers,163,5273234,2018-12-14,2018-12-21,pop,67,4BiiOzZCrXEzHRLYcYFiD5,0.006135
28885,Splashin,Rich The Kid,193,4869140,2018-12-14,2018-12-21,r&b,0,79OEIr4J4FHV0O3KrhaXRb,0.005181
28886,Splashin,Rich The Kid,193,4869140,2018-12-14,2018-12-21,edm,0,79OEIr4J4FHV0O3KrhaXRb,0.005181

In [15]:
genr2018=d2018.groupby(['genre'], as_index= False)['Streams'].sum()

genr2018.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

genr2018

   genre      Streams
0    pop  21932533173
1    edm  17295900590
2    r&b  16208889229
3    rap  14191964376
4  latin   5817582141
5   rock   3026046813

In [16]:
d2017=data[data['end_week']>'2016-12-30']
d2017=d2017[d2017['end_week']<'2018-01-02']

d2017

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
1,Starboy,The Weeknd,1,25734078,2016-12-30,2017-01-06,pop,1,5aAx2yezTd8zXrkmtKl66Z,1.000000
2,Starboy,The Weeknd,3,24261229,2017-01-06,2017-01-13,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.333333
3,Starboy,The Weeknd,4,24480907,2017-01-13,2017-01-20,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.250000
4,Starboy,The Weeknd,5,22925769,2017-01-20,2017-01-27,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.200000
5,Starboy,The Weeknd,7,20295877,2017-01-27,2017-02-03,pop,1,5aAx2yezTd8zXrkmtKl66Z,0.142857
...,...,...,...,...,...,...,...,...,...,...
16540,Issues,Julia Michaels,186,4298127,2017-12-15,2017-12-22,pop,69,7vu0JkJh0ldukEYbTVcqd0,0.005376
16541,Issues,Julia Michaels,193,4094134,2017-12-22,2017-12-29,pop,69,7vu0JkJh0ldukEYbTVcqd0,0.005181
16557,Bartier Cardi (feat. 21 Savage),Cardi B,54,8885727,2017-12-22,2017-12-29,rap,56,75FDPwaULRdYDn4StFN2rT,0.018519
16558,Bartier Cardi (feat. 21 Savage),Cardi B,54,8885727,2017-12-22,2017-12-29,r&b,56,75FDPwaULRdYDn4StFN2rT,0.018519
16587,Dubai Shit,Huncho Jack,105,5923537,2017-12-22,2017-12-29,r&b,64,6urLjX35oXXRYtcH1b3dCh,0.009524

In [17]:
genr2017=d2017.groupby(['genre'], as_index= False)['Streams'].sum()

genr2017.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

genr2017

   genre      Streams
0    pop  21357626515
1    edm  16044267752
2    r&b  12247715536
3  latin   7567535721
4    rap   6515460192
5   rock   1763278830

In [18]:
artistm=lastmonths.groupby(['artist_name'], as_index= False)['Streams'].sum()

artistm.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

tm=artistm.head(100)
tm

       artist_name     Streams
0       The Weeknd  2768192035
1     Harry Styles  2498805947
2        Pop Smoke  2076920588
3           DaBaby  1705715475
4       Joel Corry  1362809452
..             ...         ...
95      Bea Miller    28084478
96        Coldplay    25733855
97  Kendrick Lamar    25109310
98      Noah Cyrus    22769149
99           Ozuna    20544092

[100 rows x 2 columns]

In [19]:
art2020=d2020.groupby(['artist_name'], as_index= False)['Streams'].sum()

art2020.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

t2020=art2020.head(100)
t2020

      artist_name     Streams
0      The Weeknd  9133451037
1     Roddy Ricch  6090013464
2        Dua Lipa  5888405301
3     Post Malone  5543345059
4    Harry Styles  5379972440
..            ...         ...
95     Noah Cyrus   291840018
96  PARTYNEXTDOOR   291436656
97   James Arthur   288329200
98          Tainy   279752811
99  Justin Quiles   269969210

[100 rows x 2 columns]

In [20]:
art2019=d2019.groupby(['artist_name'], as_index= False)['Streams'].sum()

art2019.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

t2019=art2019.head(100)
t2019

        artist_name     Streams
0       Post Malone  9489738457
1     Billie Eilish  6385518376
2        Ed Sheeran  4329703991
3     Ariana Grande  3990306070
4         Lil Nas X  3985900083
..              ...         ...
95  Sebastian Yatra   262292460
96      John Legend   256659762
97          KAROL G   254808190
98             TOTO   247258818
99        Sean Paul   246157006

[100 rows x 2 columns]

In [21]:
art2018=d2018.groupby(['artist_name'], as_index= False)['Streams'].sum()

art2018.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

t2018=art2018.head(100)
t2018

     artist_name     Streams
0          Drake  5430904590
1    Post Malone  4281926975
2   XXXTENTACION  3065448718
3        Cardi B  2630187207
4     Marshmello  2600010602
..           ...         ...
95  Rich The Kid   158158742
96     Meek Mill   153874956
97  Daddy Yankee   149564907
98   Nicki Minaj   120590642
99    Liam Payne   115586518

[100 rows x 2 columns]

In [22]:
art2017=d2017.groupby(['artist_name'], as_index= False)['Streams'].sum()

art2017.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

t2017=art2017.head(100)

t2017

               artist_name     Streams
0               Ed Sheeran  5795429577
1         The Chainsmokers  3907291137
2                    Drake  2241766582
3             Clean Bandit  1979461951
4            Calvin Harris  1731032607
..                     ...         ...
95              Anne-Marie   111713562
96  A Boogie Wit da Hoodie   109480992
97         Sage The Gemini   108464758
98               Desiigner   107398376
99         Sebastian Yatra   106975289

[100 rows x 2 columns]

In [23]:
#data for 2021

d2021=data[data['end_week']>'2020-12-25']
d2021

,track_name,artist_name,Position,Streams,start_week,end_week,genre,popularity,track_id,factor
979,Closer,The Chainsmokers,194,4547912,2021-01-01,2021-01-08,pop,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005155
981,Closer,The Chainsmokers,194,4547912,2021-01-01,2021-01-08,rap,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005155
982,Closer,The Chainsmokers,194,4547912,2021-01-01,2021-01-08,latin,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005155
984,Closer,The Chainsmokers,194,4547912,2021-01-01,2021-01-08,edm,85,7BKLCZ1jbUBVqRi2FVlTVw,0.005155
1569,Say You Won't Let Go,James Arthur,163,5821774,2020-12-25,2021-01-01,pop,86,5uCax9HTNlzGybIStD3vDh,0.006135
...,...,...,...,...,...,...,...,...,...,...
60249,Yellow,Coldplay,161,5394718,2021-01-08,2021-01-15,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006211
60250,Yellow,Coldplay,164,5393813,2021-01-15,2021-01-22,rock,85,3AJwUDP919kvQ9QcozQPxg,0.006098
60251,Smells Like Teen Spirit,Nirvana,180,4639948,2021-01-01,2021-01-08,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005556
60254,Smells Like Teen Spirit,Nirvana,181,4949722,2021-01-08,2021-01-15,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005525
60257,Smells Like Teen Spirit,Nirvana,178,5118391,2021-01-15,2021-01-22,rock,82,1f3yAtsJtY87CTmM8RLnxf,0.005618

In [24]:
art2021=d2021.groupby(['artist_name'], as_index= False)['Streams'].sum()

art2021.sort_values(['Streams'], ascending= False, inplace=True, ignore_index=True)

t2021=art2021.head(100)

t2021

       artist_name    Streams
0       The Weeknd  545291346
1     Harry Styles  389635932
2        Pop Smoke  240508672
3           DaBaby  240151045
4     Travis Scott  233213980
..             ...        ...
60         Nirvana   14708061
61          Halsey   14593147
62      Dean Lewis   14272363
63  Olivia Rodrigo   13463002
64      The Police    4557418

[65 rows x 2 columns]

In [25]:
daily=pd.read_csv('regional-global-daily-2021-05-20.csv')

daily

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.,Unnamed: 4
0,Position,Track Name,Artist,Streams,URL
1,1,good 4 u,Olivia Rodrigo,8500466,https://open.spotify.com/track/6PERP62TejQjgHu...
2,2,MONTERO (Call Me By Your Name),Lil Nas X,5738238,https://open.spotify.com/track/67BtfxlNbhBmCDR...
3,3,Kiss Me More (feat. SZA),Doja Cat,5470021,https://open.spotify.com/track/748mdHapucXQri7...
4,4,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,4981314,https://open.spotify.com/track/4iJyoBOLtHqaGxP...
...,...,...,...,...,...
196,196,ExplÃ­cito,Myke Towers,739923,https://open.spotify.com/track/6qraVL4IJaIj0Iu...
197,197,No Te Enamores - Remix,Milly,739616,https://open.spotify.com/track/2mM3gZ0BbPwPPMe...
198,198,Cupid's Chokehold / Breakfast in America,Gym Class Heroes,735983,https://open.spotify.com/track/2Lhdl74nwwVGOE2...
199,199,Dior,Pop Smoke,735801,https://open.spotify.com/track/79s5XnCN4TJKTVM...
200,200,PROBLEMA,Daddy Yankee,734993,https://open.spotify.com/track/2dl5K2ScW7jYhAh...

In [26]:
daily.rename(columns = {'Unnamed: 0':'Position','Unnamed: 1':'Track Name','Unnamed: 2':'Artist','Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.':'Streams','Unnamed: 4':'URL'}, inplace = True)
daily.drop(daily.index[0], inplace=True)

daily.drop_duplicates(subset='Artist', keep='first' , inplace=True)

daily=daily.head(100)
daily

,Position,Track Name,Artist,Streams,URL
1,1,good 4 u,Olivia Rodrigo,8500466,https://open.spotify.com/track/6PERP62TejQjgHu...
2,2,MONTERO (Call Me By Your Name),Lil Nas X,5738238,https://open.spotify.com/track/67BtfxlNbhBmCDR...
3,3,Kiss Me More (feat. SZA),Doja Cat,5470021,https://open.spotify.com/track/748mdHapucXQri7...
4,4,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,4981314,https://open.spotify.com/track/4iJyoBOLtHqaGxP...
5,5,Levitating (feat. DaBaby),Dua Lipa,4374785,https://open.spotify.com/track/5nujrmhLynf4yMo...
...,...,...,...,...,...
138,138,Bohemian Rhapsody - Remastered 2011,Queen,852926,https://open.spotify.com/track/4u7EnebtmKWzUH4...
140,140,Dreams - 2004 Remaster,Fleetwood Mac,846839,https://open.spotify.com/track/0ofHAoxe9vBkTCp...
142,142,The Nights,Avicii,845739,https://open.spotify.com/track/0ct6r3EGTcMLPtr...
143,143,You,Regard,845715,https://open.spotify.com/track/2cc8Sw1OnCuA5bV...
145,145,Little Bit of Love,Tom Grennan,831492,https://open.spotify.com/track/3Iba59sFmGhQ4kb...

In [27]:
top100=daily[['Artist']].head(100)

len(top100['Artist'].unique())

100

In [28]:
top2021=t2021[(t2021['artist_name'].isin(top100['Artist']))]

top2021.reset_index(inplace=True, drop=True)

del top2021['Streams']
top2021

        artist_name
0        The Weeknd
1      Harry Styles
2         Pop Smoke
3            DaBaby
4      Travis Scott
5       Post Malone
6        Joel Corry
7     Billie Eilish
8          Dua Lipa
9             Drake
10    Lewis Capaldi
11            Topic
12            Powfu
13    Ariana Grande
14         Maroon 5
15       Ed Sheeran
16         Doja Cat
17         24kGoldn
18          KAROL G
19        Lady Gaga
20           Regard
21    Justin Bieber
22       Conan Gray
23     Shawn Mendes
24       Tate McRae
25       Juice WRLD
26          Cardi B
27      Tones And I
28    Fleetwood Mac
29  Imagine Dragons
30     James Arthur
31       Nio Garcia
32         Ashnikko
33           MEDUZA
34         Coldplay
35   Olivia Rodrigo

In [29]:
top2020=t2020[(t2020['artist_name'].isin(top100['Artist']))]

top2020.reset_index(inplace=True, drop=True)
del top2020['Streams']
top2020

        artist_name
0        The Weeknd
1          Dua Lipa
2       Post Malone
3      Harry Styles
4            DaBaby
5          Doja Cat
6             Drake
7     Billie Eilish
8      Travis Scott
9         SAINt JHN
10            Powfu
11        Pop Smoke
12         Maroon 5
13    Justin Bieber
14        Bad Bunny
15    Lewis Capaldi
16       Ed Sheeran
17            Topic
18    Ariana Grande
19        Lady Gaga
20       Juice WRLD
21          KAROL G
22           Regard
23           MEDUZA
24       Joel Corry
25          Ava Max
26     Shawn Mendes
27      Tones And I
28  Black Eyed Peas
29   Rauw Alejandro
30         24kGoldn
31          Cardi B
32        Lil Nas X
33     Selena Gomez
34       Conan Gray
35       Nio Garcia
36  Imagine Dragons
37        Lil Tecca
38             Sech
39       Tate McRae
40     James Arthur

In [30]:
top2019=t2019[(t2019['artist_name'].isin(top100['Artist']))]

top2019.reset_index(inplace=True, drop=True)
del top2019['Streams']
top2019

        artist_name
0       Post Malone
1     Billie Eilish
2        Ed Sheeran
3     Ariana Grande
4         Lil Nas X
5      Shawn Mendes
6      Travis Scott
7          Maroon 5
8             Drake
9           Ava Max
10    Lewis Capaldi
11          J. Cole
12           MEDUZA
13          Cardi B
14         Dua Lipa
15             Sech
16     Selena Gomez
17       Juice WRLD
18  Imagine Dragons
19      Tones And I
20           Avicii
21           DaBaby
22           Regard
23           Maluma
24  Black Eyed Peas
25        Bad Bunny
26     Harry Styles
27       The Weeknd
28            Queen
29      OneRepublic
30        Lil Tecca
31     James Arthur
32              BTS
33           Polo G
34  Sebastian Yatra
35          KAROL G

In [31]:
top2018=t2018[(t2018['artist_name'].isin(top100['Artist']))]

top2018.reset_index(inplace=True, drop=True)

del top2018['Streams']
top2018

        artist_name
0             Drake
1       Post Malone
2           Cardi B
3        Ed Sheeran
4      Travis Scott
5          Dua Lipa
6          Maroon 5
7     Ariana Grande
8             Migos
9      Selena Gomez
10       Bruno Mars
11           Avicii
12       Nio Garcia
13  Imagine Dragons
14           TiÃ«sto
15          Ava Max
16            Queen
17       The Weeknd
18    Billie Eilish
19     James Arthur
20     Shawn Mendes
21        Bad Bunny
22      Nicki Minaj

In [32]:
top2017=t2017[(t2017['artist_name'].isin(top100['Artist']))]

top2017.reset_index(inplace=True, drop=True)

del top2017['Streams']

top2017

        artist_name
0        Ed Sheeran
1             Drake
2             Migos
3        Bruno Mars
4       Post Malone
5          Dua Lipa
6      Travis Scott
7      Harry Styles
8      James Arthur
9        The Weeknd
10     Shawn Mendes
11           Avicii
12           Maluma
13         Maroon 5
14     Selena Gomez
15    Justin Bieber
16          Cardi B
17    Ariana Grande
18              SZA
19  Sebastian Yatra

In [33]:
every=t2018[(t2018['artist_name'].isin(top100['Artist']))]
every=every[(every['artist_name'].isin(t2018['artist_name']))]
every=every[(every['artist_name'].isin(t2019['artist_name']))]
every=every[(every['artist_name'].isin(t2020['artist_name']))]

every.reset_index(inplace=True, drop=True)

del every['Streams']

every

        artist_name
0             Drake
1       Post Malone
2           Cardi B
3        Ed Sheeran
4      Travis Scott
5          Dua Lipa
6          Maroon 5
7     Ariana Grande
8      Selena Gomez
9   Imagine Dragons
10          Ava Max
11       The Weeknd
12    Billie Eilish
13     James Arthur
14     Shawn Mendes
15        Bad Bunny

In [34]:
week.to_csv('weekgenres.csv', index= False)
months.to_csv('monthsgenres.csv', index= False)
genr2019.to_csv('genr2019.csv', index= False)
genr2018.to_csv('genr2018.csv', index= False)
genr2020.to_csv('genr2020.csv', index= False)
genr2017.to_csv('genr2017.csv', index= False)

In [35]:
daily.to_csv('dailyart.csv', index= False)
top2020.to_csv('top2020.csv', index= False)
top2019.to_csv('top2019.csv', index= False)
top2018.to_csv('top2018.csv', index= False)
top2017.to_csv('top2017.csv', index= False)
every.to_csv('everyart.csv', index= False)

In [36]:
t2020.to_csv('t2020.csv', index= False)
t2019.to_csv('t2019.csv', index= False)
t2018.to_csv('t2018.csv', index= False)
t2017.to_csv('t2017.csv', index= False)